<div class="shade" {{action 'toggleSettingsModal'}}>
  <form {{action 'stopPropagation' on='click'}}>
    <span class="close" {{action 'toggleSettingsModal'}}>X</span>
    <h2>Settings</h2>
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
    {{input placeholder="Post Type"}}
  </form>
</div>