<div class="adminTitle">
  <h2>All Posts</h2>
</div>
<div class="actions">
  {{link-to 'Create Post' 'editor' class="btn primary"}}
</div>

<table id="posts">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Type
      </th>
      <th>
        Status
      </th>
      <th>
        Published By
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |post|}}
      <tr>
        <td>
          {{link-to post.title 'editor' (query-params id=post.id)}}
        </td>
        <td>
          {{post.type}}
        </td>
        <td>
          {{post.isDraft}}
        </td>
        <td>
          {{post.createdAt}}
        </td>
        <td>
          {{link-to 'Edit' 'editor' (query-params id=post.id)}} | <a href="#" {{action 'delete' post}}>Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>