<div class="adminTitle">
  <h2>All Interviews</h2>
</div>
<div class="adminActions">
  {{link-to 'Create Post' 'editor' (query-params type="interview") class="btn primary"}}
</div>

<table id="interviews">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Type
      </th>
      <th>
        Status
      </th>
      <th>
        Published By
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |post|}}
      <tr>
        <td>
          {{link-to post.title 'editor' (query-params id=post.id)}}
        </td>
        <td>
          {{post.type}}
        </td>
        <td>
          {{post.isDraft}}
        </td>
        <td>
          {{post.createdAt}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="100" class="noPosts">
          No Posts
        </td>
      </tr>
    {{/each}}


  </tbody>
</table>