<nav id="settings-menu">
  {{link-to 'Back' 'admin.posts' class="back"}}
  {{input placeholder="New Post Title" value=model.title}}
  <div class="actions">
    <button class="settings" {{action 'toggleSettingsModal'}}>
      <img src="assets/editor/icons/cog.svg" alt="">
    </button>
    <button>
      Preview
    </button>
    <button {{action 'save'}} class="save" disabled={{disableSave}}>
      Save
    </button>
  </div>
</nav>

<div id="editor" class="open">

  {{editor-menu-toggle id="editor-menu-toggle"}}
  {{editor-menu id="editor-menu"}}
  {{editor-area id="editor-area" body=model.body _contentDidChange='_contentDidChange' content=content}}
  {{editor-settings-modal settings=model.meta save='saveSettings' visible=displaySettingsModal toggleSettingsModal='toggleSettingsModal'}}
</div>